.fl-display {
    display: flex;
    justify-content: center;
    flex-direction : row
}

#filter {
    visibility: hidden;
}

#reloadbutton {
    visibility: hidden;
}

.math-article {
    padding-left:1rem;
}

canvas.p5Canvas {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.imgcontainer {
    display: flex;
    justify-content: center;
    flex-direction : row
}
