.fl-display {
    display: flex;
    justify-content: center;
    flex-direction : row
}

#filter {
    visibility: hidden;
}

#reloadbutton {
    visibility: hidden;
}

.math-article {
    padding-left:1rem;
}
