body {
    font-family: "Fredoka";
    margin: 0;
    padding: 0; /* Optional: also remove default padding */
}

h1,h2,p,ul {
    padding-left: 5rem;
    padding-right: 5rem;
}

div.container
{
    padding-left: 4rem;
    padding-right: 5rem;
    padding-top:4rem;
}

button {
    font-family: Fredoka;
}

.accordion-container {
    padding-left: 5rem;
    padding-right: 5rem;
    width: 80%;
}

.accordion-item {
    border-bottom: 2px solid #ddd;
}

.accordion-button {
    width: 100%;
    padding: 1rem;
    background:#DAF7A6 ;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
    position: relative;
}

.accordion-button::after {
    content: '+';
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.accordion-button.active::after {
    content: '-';
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1rem;
}

.accordion-content.active {
    max-height: 500px;
    padding: 1rem;
}

.accordion-content p {
    margin: 1rem 0;
    line-height: 1.6;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    border-radius: 20px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

