body, h1, h2, h3, h4, h5 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin: 0;
  }
  
  p {
    margin: 1rem 0;
  }
  
  a {
    text-decoration: none;
  }

  div.para {
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  div.container{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  footer {
    background-color: lightpink;
    height: 4rem;
  }

  canvas.p5Canvas {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.flex-container {
  display: flex;
  flex:1;
  background-color: white;
}

.flex-container > div {
  width: 50%;
  margin: 10px;
  padding: 20px;
}
  
  /* Pseudo-Classes */
  
  ::selection {
    background-color: #e8ffff;
    color: #373a40;
  }
  
  /* Navigation Bar*/
  
  nav {
    padding: 1.5rem 2rem;
    background-color: lightpink;
    color: #fff;
  }
  
  .checkbtn{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  
  #check{
    display: none;
  }
  
  #check:checked ~ .nav-mobile{display: block;}
  
  .nav-mobile {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    overflow: hidden;
    background: lightpink;
    z-index: 1;
    width: 200px;
  }
  
  .nav-mobile a {
    color: #fff;
    padding: 1rem 1.5rem;
    display: block;
  }
  
  hr {
    background-color: lightpink;
    padding: 1px;
    border: none;
  }
  
  
  /* Media Query Breakpoints */
  
  @media only screen and (max-width:992px) {
  
    /* Banner */
    .banner-text h1 {font-size: 1.5rem;}
  
    /* Navigation Bar */
    nav {padding: 5rem 0;}
    .checkbtn{display: block; font-size: 5rem; position: absolute; top: 30px; left: 40px;}
    .nav-mobile { top:10rem; width: 100%;}
    .nav-mobile a { font-size: 2rem; padding: 2rem 3rem;}
  
    /* Tutorial */
    .tutorial{font-size: 1.5rem;}
  }